<h1>The Church app!!</h1>
<p>Olá,</p>
<p>
  Recebemos uma solicitação para redefinir sua senha no TheChurch.<br />
  <b>Clique no botão abaixo para escolher uma nova senha:</b><br />
  <a href='{{url}}'>Redefinir Senha</a>
</p>
<b><i>Se você não solicitou isso, ignore este e-mail.</i></b>